.loading-container {
  display: grid;
  place-items: center;
}

.animal-container {
  display: grid;
  place-items: center;
}

.animal-container * {
  width: 50%;
}

.animal-container h1 {
  text-align: center;
}

.animal-container ul {
  display: grid;
  place-items: center;
}

.animal-container img {
  width: 25%;
}